[build]
  base = "www"
  command = "bash build.sh"
  publish = "calendar_set/full_ver7"
  functions = "../netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@supabase/supabase-js", "googleapis"]
  
[[functions.environment]]
  NODE_OPTIONS = "--experimental-modules"
